.NoteNode {
  width: 100%;
  &-block {
    height: 28px;
    line-height: 28px;
    display: flex;
    align-items: center;
  }
  &-icon {
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    &::before {
      content: "";
      display: inline-block;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background: #000;
    }
  }
  &-content {
    flex: 1;
    > div {
      outline: none;
    }
  }
  &-replace {
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &-replace {
    position: relative;
  }
  .NoteNode-readonly {
    min-width: 40px;
    height: 100%;
    text-decoration: none;
    border: none;
  }
  .NoteNode-readonly:focus {
    outline: none;
  }
}

.NodeActionsBar {
  position: absolute;
  top: 0;
  left: -60px;
  width: 100px;
}
